@import 'variables';

body {
    font: 100% "Space Mono", monospace;
    color: $Gray;
    margin: 0;
    padding: $generaPadding;
    background-color: $bodyBackground ;
    overflow-x: hidden;
}

main {
    padding: 0 1em 0 1em;
}

 
@mixin boxShadowing($color:$Gray){
    -webkit-box-shadow: 10px 10px 15px -4px $color ;
    -moz-box-shadow: 10px 10px 15px -4px $color;
    box-shadow: 10px 10px 15px -4px $color;
}

article {
    display: flex;
    flex-wrap: wrap;

    section {
        @include boxShadowing;
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px $LighterGray solid;        
        padding: $generaPadding;
        margin: 16px;
        clear: both;
        overflow: auto;
        box-sizing: border-box;

    }


    section#selling-points {
        flex-grow: 2;
        flex-basis: 100%;
    }

    code {
        background: $black;
        border: 1px solid $Gray;
        color: $LighterGray;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: $generaPadding;
        display: block;
        word-wrap: break-word;


    }

    code.before {
        float: left;
        width: 40%;
    }

    code.after {
        float: right;
        width: 40%;
    }

}


h1,
h2,
h3 {
    color: $Pink;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    padding: $generaPadding;
    margin-bottom: 0px;
}

footer{
    h3{
        padding: $generaPadding*2;
    }
}

$base-color: #7c6ed5;

@for $i from 1 through 6 {
 .advantages li:nth-child(#{$i}) {
   background-color: lighten($base-color, $i*5%);
 }
}


.messages {
    padding: $generaPadding;
}

%messagesStatusShared {
    border: 1px solid $LighterGray;
    padding: $generaPadding;
    color: $bodyBackground;
}

.warning {
    @extend %messagesStatusShared;
    background-color: orange;
}

.success, .error:hover {
    @extend %messagesStatusShared;
    background-color: green;
}

.error {
    @extend %messagesStatusShared;
    background-color: red;    
}
